@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    --fonte01: Arial, Helvetica, sans-serif;
    --fonte02: 'Roboto Serif', serif;
    --fonte03: normal, normal, sans-serif;
    --fonte04: 'Roboto', sans-serif;

    --cor01:#252525;
    --cor02:#F4F2F3;
    --cor03:#EB4A7B;
    --cor04:#FD6A9A;
    --cor05:#3A342F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: var(--cor01);
    color: var(--cor02);
    display: flex;
    justify-content: space-between;
    height: 9vh;
}

header figure{
    /* border: solid red; */
    display: flex;
    width: 8vw;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: -100px;
}

header figure img{
    width: 1.8959vw;
}

header figure h1{
    font-size: 1.15rem;
    font-weight: bold;
}

header nav{
    /* border: solid red; */
    width: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    right: 100px;
}

header nav img:hover{
    cursor: pointer;
    transform: scale(115%);
}

main section#inauguracao{
    /* border: solid red; */
    height: 100vh;
    background-image: url('../assets/Grupo 486@2x.png');
    background-size: 100% 100%;
}

main section#inauguracao figure{
    display: flex;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: solid red; */
    position: relative;
    bottom: -3vh;
}

main section#inauguracao h2{
    color: white;
    white-space: pre-line;
    text-align: center;
    font-size: 5em;
}

main section#inauguracao img{
    width: 9vw;
}

main section#inauguracao img:hover{
    cursor: pointer;
    transform: scale(115%);
}

main section#banho-tosa{
    /* border: solid blue; */
    height: 100vh;
    background-image: url('../assets/Interseção 16@2x.png');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

main section#banho-tosa h2{
    font-size: 5em;
    color: var(--cor01);
    position: relative;
    left: 7vw;;
}

main section#banho-tosa p{
    color: var(--cor01);
    font-size: 2.4em;
    white-space: pre-line;
    position: relative;
    left: 7vw;
    font-family: var(--fonte04);
}

main section#banho-tosa button{
    background-color: var(--cor01);
    color: var(--cor02);
    border: none;
    padding: 25px 25px;
    font-size: 2.4em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    bottom: -5vh;
    left: 7vw;
}

main section#banho-tosa button:hover{
    cursor: pointer;
    transform: scale(115%);
}

main section#mordomia-saudavel{
    /* border: solid green; */
    height: 100vh;
    background-image: url('../assets/Grupo 480@2x.png');
    background-size: 100% 100%;
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

main section#mordomia-saudavel h2{
    font-size: 5em;
    color: white;
    position: relative;
    right: 27vw;;
}

main section#mordomia-saudavel p{
    color: white;
    font-size: 2.4em;
    white-space: pre-line;
    position: relative;
    right: 19vw;
    font-family: var(--fonte04);
}

main section#mordomia-saudavel button{
    background-color: white;
    color: black;
    border: none;
    padding: 25px 25px;
    font-size: 2.4em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100px;
    position: relative;
    bottom: -5vh;
    right: 30vw;
}

main section#mordomia-saudavel button:hover{
    cursor: pointer;
    transform: scale(115%);
}

main section#apoio{
    /* border: solid brown; */
    height: 35vh;
    background-color: white;
    color: var(--cor03);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main section#apoio h2{
    font-style: italic;
    font-size: 2.5vw;
    font-family: var(--fonte02);
}

main section#apoio img{
   width: 16vw;
}

main section#apoio img:hover{
    cursor: pointer;
    transform: scale(115%);
}

footer{
    /* border: solid blue; */
    height: 65vh;
    background-color: var(--cor03);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
}

footer section{
    position: relative;
    left: -3.5vw;
}

footer h2{
    font-family: var(--fonte02);
    font-weight: bold;
}

footer ul{
    list-style: none;
    font-family: var(--fonte04);  
}

footer li:hover{
    cursor: pointer;
    transform: scale(115%);
}

@media (max-width: 768px) {
    header{
        height: 12vh;
    }

    header figure{
        /* border: solid red; */
        width: 35vw;
    }

    header figure img{
        width: 10vw;
    }

    header figure h1{
        font-size: 2.15rem;
        font-weight: bold;
    }

    header nav img#instagram{
        display: none;
    }

    header nav img#youtube{
        display: none;
    }

    header nav img#whatsapp{
        width: 8vw;
    }

    main section#inauguracao{
        height:88vh;
        background-image: url('../assets/Grupo 485@2x.png');
        background-size: 100% 100%;
    }

    main section#inauguracao figure{
        position: relative;
        bottom: 5vh;
    }
    
    main section#inauguracao h2{
        font-size: 4em;
    }
    
    main section#inauguracao img{
        width: 20vw;
    }
}

